@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
	/* Primary */
	--clr-primary-700: hsl(300, 43%, 22%);
	--clr-primary-300: hsl(333, 80%, 67%);
	/* Neutral */
	--clr-neutral-300: hsl(303, 10%, 53%);
	---clr-neutral-200: hsl(300, 24%, 96%);
	--clr-neutral-100: hsl(0, 0%, 100%);
	--fs-400: 0.9375;
}
body {
	font-size: 15px;
}
