@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
:root {
	/* Primary */
	--clr-primary-700: hsl(300, 43%, 22%);
	--clr-primary-300: hsl(333, 80%, 67%);
	/* Neutral */
	--clr-neutral-300: hsl(303, 10%, 53%);
	---clr-neutral-200: hsl(300, 24%, 96%);
	--clr-neutral-100: hsl(0, 0%, 100%);

	--ff-primary: "League Spartan", sans-serif;

	--fs-17: 1.0625rem;
	--fs-19: 1.1875rem;
	--fs-header: 3.5rem;
}
@media (min-width: 50em) {
	:root {
		--fs-header: 2.5rem;
	}
}
body {
	font-family: var(--ff-primary);
}
